{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="app-container">
    <h1 class="main-title-text">My Friends List</h1>
    {% if user.is_authenticated %}
    <ul class="list-group">
        {% for friendship in friendships %}
        <li class="list-group-item d-flex align-items-center">
            <a href="{% url 'friendsdetail' friendship.friend.id %}" class="d-flex align-items-center">
                {% if friendship.friend.myaccount.profile_image %}
                <img src="{{ friendship.friend.myaccount.profile_image.url }}" alt="{{ friendship.friend.username }}" class="rounded-circle" style="width: 50px; height: 50px; object-fit: cover; margin-right: 10px;">
                {% else %}
                <img src="https://res.cloudinary.com/dqm93egis/image/upload/v1738488445/nobody_l7bbqh.jpg" alt="{{ friendship.friend.username }}" class="rounded-circle" style="width: 50px; height: 50px; object-fit: cover; margin-right: 10px;">
                {% endif %}
                <span>{{ friendship.friend.username }}</span>
            </a>
        </li>
        {% endfor %}
    </ul>
    
    <form method="post" action="{% url 'add_friend' %}" class="w-100">
        {% csrf_token %}
        <div class="input-group mb-3">
            {{ form.search_query|as_crispy_field }}
            <button type="button" id="search-button" class="btn btn-baby-blue">Search</button>
        </div>
        <!-- This div will be populated with search results -->
        <div id="search-results" class="mb-3"></div>
        {{ form.friend_username|as_crispy_field }}
        <button type="submit" class="btn btn-primary btn-log">Add Friend</button>
    </form>

    <div class="container mt-5">
        <h2 class="title-text">Pending Friend Requests</h2>
        <ul class="list-group">
            {% for friendship in pending_friendships %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ friendship.user.username }} wants to be friends with you
                <form method="post" action="{% url 'confirm_friendship' friendship.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-rounded btn-baby-blue">Confirm</button>
                </form>
                
            </li>
            {% endfor %}
        </ul>
    </div>
    {% else %}
    <p>Please <a href="{% url 'account_login' %}">log in</a> to see your friends list.</p>
    {% endif %}
</div>
{% endblock content %}

{% block extra_body %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/friendsearch.js' %}"></script>
{% endblock extra_body %}