{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="app-container">
        <h1 class="main-title-text">My Events Planner</h1>
        <div id="calendar-container">
            <div id="calendar"></div>
        </div>
    </div>
</div>
<!-- Modal for creating/editing events -->
<div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eventModalLabel">Add/Edit Event</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="eventForm">
                    <div class="mb-3">
                        <label for="eventTitle" class="form-label">Event Title</label>
                        <input type="text" class="form-control" id="eventTitle" required>
                    </div>
                    <div class="form-check mb-3">
                        <label for="allDayCheckbox" class="form-check-label">All-Day</label>
                        <input type="checkbox" class="form-check-input" id="allDayCheckbox">
                    </div>
                    <div class="mb-3">
                        <label for="eventStart" class="form-label">Start Date & Time (Hit enter once date/time selected)</label>
                        <input type="datetime-local" class="form-control" id="eventStart" required>
                    </div>
                    <div class="mb-3">
                        <label for="eventEnd" class="form-label">End Date & Time (Hit enter once date/time selected)</label>
                        <input type="datetime-local" class="form-control" id="eventEnd">
                    </div>
                    <div class="mb-3">
                        <label for="eventDescription" class="form-label">Description</label>
                        <textarea class="form-control" id="eventDescription" rows="3"></textarea>
                    </div>
                    <input type="hidden" id="eventId">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="deleteEvent">Delete</button>
                <button type="button" class="btn btn-primary" id="saveEvent">Save</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
<!-- Link your custom JS file -->
<script src="{% static 'js/planner.js' %}"></script>
{% endblock %}