
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item d-flex align-items-center">
                    <a class="nav-link d-flex align-items-center profile-link"
                        href="{% url 'myaccount:myaccount_home' %}">
                        {% if user.myaccount.profile_image %}
                        <img src="{{ user.myaccount.profile_image.url }}" alt="Profile Image"
                            class="rounded-circle profile-image" />
                        {% else %}
                        <img src="https://res.cloudinary.com/dqm93egis/image/upload/v1738488445/nobody_l7bbqh.jpg"
                            alt="Profile Image" class="rounded-circle profile-image" />
                        {% endif %}
                        <span class="profile-text">{{ user.username }}</span>
                    </a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link trans-text" href="{% url 'friendslist' %}">Friends</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link trans-text" href="{% url 'wishlist' %}">Wishlist</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link trans-text" href="{% url 'planner:planner_view' %}">Event Planner</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link trans-text" href="{% url 'myaccount:myaccount_home' %}">My Account</a>
                  </li>
                  <li class="nav-item">
                    {% if user.is_authenticated %}
                    <a class="btn btn-danger btn-rounded ms-2" href="{% url 'account_logout' %}">
                      Log out
                    </a>
                    {% else %}
                    <a class="btn btn-primary btn-rounded ms-2" href="{% url 'account_login' %}">
                      Log in
                    </a>
                    {% endif %}
                  </li>
                  <li class="nav-item">
                    <a class="btn btn-secondary btn-rounded ms-2" href="{% url 'account_signup' %}">Sign up</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link trans-text" href="{% url 'friendslist' %}">Friends</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link trans-text" href="{% url 'wishlist' %}">Wishlist</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link trans-text" href="{% url 'planner:planner_view' %}">Event Planner</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link trans-text" href="{% url 'myaccount:myaccount_home' %}">My Account</a>
                  </li>
                  <li class="nav-item">
                    {% if user.is_authenticated %}
                    <a class="btn btn-danger btn-rounded ms-2" href="{% url 'account_logout' %}">
                      Log out
                    </a>
                    {% else %}
                    <a class="btn btn-primary btn-rounded ms-2" href="{% url 'account_login' %}">
                      Log in
                    </a>
                    {% endif %}
                  </li>
                  <li class="nav-item">
                    <a class="btn btn-secondary btn-rounded ms-2" href="{% url 'account_signup' %}">Sign up</a>
                  </li>
               </ul>   
        </div>
    </div>
</nav>